.burger {
	display: none;
	background-color: $burger-bg;
	padding: rem(18px) rem(14px);
	border: 0;
	border-radius: $burger-border-radius;
	cursor: pointer;
	position: relative;
	z-index: 100;
	transition: background-color 0.5s linear;
	
	@media (max-width: $screen-lg) {
        display: block;
	}

	&__elements {
		display: block;
		width: rem(30px);
		height: 3px;
		background-color: $elements-bg;
		position: relative;
		z-index: 50;
		transition: background-color 0.3s linear;

		&:before, &:after {
			content: "";
			position: absolute;
			left: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			background-color: $elements-bg;
			transition: all 0.3s linear;
		}

		&:before {
			top: -8px;
		}

		&:after {
			bottom: -8px;
		}
	}

	&.active {
		background-color: transparent;

		.burger__elements {
			background-color: transparent;

			&:before {
				transform: rotate(135deg);
				top: 0;
			}

			&:after {
				transform: rotate(-135deg);
				bottom: 0;
			}
		}
	}
}