.button {
    padding: rem(14px) rem(35px);
    color: $white;
    background-color: $orange;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    @extend %transition;
    
    &:hover {
        cursor: pointer;
        background-color: $gray-dark;
        color: $orange;
    }
}