.button {
    padding: rem(14px) rem(35px);
    color: $white;
    background-color: $orange;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    transition: cursor 0.3s linear, background-color 0.3s linear, color 0.3s linear;
    
    &:hover {
        cursor: pointer;
        background-color: $gray-dark;
        color: $orange;
    }
}