.button {
    padding: rem(14px) rem(35px);
    color: $button-color;
    background-color: $button-bg;
    border: 0;
    border-radius: $button-border-radius;
    text-transform: uppercase;
    transition: cursor 0.3s linear, background-color 0.3s linear, color 0.3s linear;
    
    &:hover {
        cursor: pointer;
        background-color: $button-hover-bg;
        color: $button-hover-color;
    }
}