.contacts {
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media (max-width: $screen-lg) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__photo {
        max-width: rem(410px);

        @media (max-width: $screen-md) {
            max-width: 60%;
        } 

        @media (max-width: $screen-sm) {
            max-width: 70%;
        } 
    }

    &__content {
        padding: rem(35px) rem(25px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: $content-bg;

        @media (max-width: $screen-md) {
            padding: rem(25px);
            flex-direction: column;
            align-items: center;
        }
    }

    &__inner {
        display: flex;
        margin-bottom: rem(15px);
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__data {
        margin: 0;

        @media (max-width: $screen-md) {
            margin-bottom: rem(25px);
        }
    }

    &__title {
        color: $cont-title-color;
        font-style: normal;
    }

    &__text {
        color: $cont-text-color;
        margin-left: rem(15px);
    }

}