.footer {
    padding: rem(40px) 0 rem(90px);

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @media (max-width: $screen-sm) {
            text-align: center;
        }

        a {
            color: $orange;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.3s linear;

            &:hover {
                border-bottom: 1px solid $orange;
            }
        }
    }
}