.footer {
    padding: rem(40px) 0 rem(90px);

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @media (max-width: $screen-sm) {
            text-align: center;
        }

        span {
            color: $orange;
        }
    }
}