.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;

	&-top {
		position: relative;
		z-index: 100;
		border-bottom: 1px solid $h-top-border;
		box-shadow: 0 rem(2px) rem(5px) $h-top-border;
		background-color: $h-top-bg;

		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width: $screen-md) {
				flex-direction: column;
			}
		}

		&__nav {
			display: flex;
			align-items: center;

			@media (max-width: $screen-sm) {
				flex-direction: column-reverse;
			}
		}

		&__text-line {
			color: $h-top-text-color;
			font-weight: $h-top-text-weigth;

			@media (max-width: $screen-md) {
				padding-top: rem(10px);
			}

			span {
				font-size: $h-top-span-size;
				color: $h-top-span-color;
			}
		}
	}

	&-bottom {
		padding-top: rem(35px);
		padding-bottom: rem(35px);
		transition: background-color 0.3s linear;
		
		@media (max-width: $screen-lg) {
			padding: rem(20px) 0;
		}

		@media (max-width: $screen-sm) {
			padding: rem(10px) 0;
		}

		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__nav {
			
			@media (max-width: $screen-lg) {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 50;
				width: 100%;
				height: 100vh;
				background-color: rgba($h-bottom-nav-bg, 0.7);
			}
			
			.nav__inner {
				background-color: rgba($h-bottom-inner-bg, 0.8);

				@media (max-width: $screen-lg) {
					flex-direction: column;
					width: 0;
					height: 100%;
					overflow-y: auto;
					margin-left: auto;
					padding-top: rem(128px);
				}

				@media (max-width: $screen-md) {
					padding-top: rem(156px);
				}

				@media (max-width: $screen-sm) {
					padding-top: rem(175px);
				}
			}

			.nav__item {
				@media (max-width: $screen-lg) {
					padding: 0;
				}
			}

			.nav__link {
				display: block;

				@media (max-width: $screen-lg) {
					text-align: center;
					padding: rem(15px) rem(20px);
				}
				
				&:after {
					@media (max-width: $screen-lg) {
						height: 1px;
						background-color: $h-bottom-link-bg;
						transform: scaleX(1);
					}
				}

				&:hover,
				&.active {
					@media (max-width: $screen-lg) {
						background-color: rgba($h-bottom-nav-bg, 0.8);
					}
				}
			}
		}

		&.background {
			background-color: $header-bg;
		}
	}
}