.nav {
    &__inner {
        display: flex;
    }
    
    &__item {
        padding: 0 rem(25px);
        display: block;
    }
    
    &__link {
        padding: rem(10px) 0;
        color: $nav-link-color;
        text-transform: uppercase;
        position:  relative;
        
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $nav-link-bg;
            transform: scaleX(0);
            transition: transform 0.3s linear;
        }

        &:hover:after,
        &.active:after {
            transform: scaleX(1);
        }
    }

    &--without-bg {
        
        .nav__link {
            color: $nav-bg-link-color;
            transition: color 0.3s linear;

            &:after {
                background-color: $orange;
            }
            
            &:hover {
                color: $nav-bg-link-hover;
            }
        }
    }

}