.search {
    position: relative;
    z-index: 1;
    left: rem(241px);

    @media (max-width: $screen-sm) {
        padding-bottom: rem(10px);
    }

    &__form {
        margin-right: rem(30px);
        margin-left: rem(10px);
        display: flex;
        align-items: center;
    }

    &__field {
        border: 0;
        outline: none;
        padding: rem(2px);
        margin: 0 rem(15px);
        background-color: $search-field-bg;
        border-bottom: 1px solid $search-field-border;
       
        @media (min-width: $screen-md) {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s linear, visibility 0.3s linear;
        }

        &:focus {
            border-bottom: 1px solid $search-field-focus;
        }

    }

    &__icon {
        color: $gray;
        padding: 0;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: color 0.3s linear;

        &:hover,
        &:focus {
            color: $search-icon-color;
        }
    }

    &__close {
        @media (min-width: $screen-md) {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s linear, visibility 0.3s linear;
        }
    }

    &.active .search__field,
    &.active .search__close {
        opacity: 1;
        visibility: visible;
    }
}