.socials {
    position: relative;
    z-index: 5;
    display: flex;
    padding: rem(15px) rem(20px);
    border-left: 1px solid $socials-border;
    border-right: 1px solid $socials-border;

    @media (max-width: $screen-sm) {
        border: 0;
    }

    &__item {
        padding: 0 rem(8px);
        border-left: 1px solid $socials-item-border;

        &:first-child {
            border-left: none;
        }
    }

    &__link {
        color: $socials-link;
        transition: color 0.3s linear;

        &:hover {
            color: $socials-link-hover;
        }
    }

    &--relative {
        position: relative;
        z-index: 2;
    }

    &--without-border {
        border: 0;
    }
}