.socials {
    display: flex;
    padding: rem(15px) rem(20px);
    border-left: 1px solid $gray-cfcfcf;
    border-right: 1px solid $gray-cfcfcf;

    @media (max-width: $screen-sm) {
        border: 0;
    }

    &__item {
        padding: 0 rem(8px);
        border-left: 1px solid $gray-e3e3e3;

        &:first-child {
            border-left: none;
        }
    }

    &__link {
        color: $gray;
        @extend %transition;

        &:hover {
            color: $orange;
        }
    }

    &--relative {
        position: relative;
        z-index: 2;
    }

    &--without-border {
        border: 0;
    }
}