.works {
    padding: rem(90px) 0 rem(40px);

    @media (max-width: $screen-md) {
        padding: rem(25px) 0;
    }

    &__filter {
        
        .nav__inner {
            display: flex;
            justify-content: center;

            @media (max-width: 600px) {
                flex-direction: column;
                align-items: center;
            }
        }

        .nav__item {
            @media (max-width: $screen-md) {
                padding: 0 rem(10px);
            }
        }
    }
    
    &__button {
        display: block;
        margin: 0 auto;
    }

    &__grid {
        margin-bottom: rem(20px);
    }

    &__item {
        overflow: hidden;   
    }

    &__link {
        display: block;
        position: relative;
        z-index: 1;
        
        &:before {
            @include center(x, y);
            z-index: 3;
            font-size: 3em;
            color: rgba($works-link-color, 0.6);
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: background-color 0.3s linear;
        }
        
        &:hover:before {
            opacity: 1;
        }

        &:hover:after {
            background-color: rgba($works-link-bg, 0.4);
        }
        
        img {
            transition: transform 0.3s linear;
        }

        &:hover img{
            transform: scale(1.1);
        }
    }
}