// helpers
@import '../helpers/_variables';
@import '../helpers/mixins';
@import '../helpers/placeholders';

// base
@import '../base/reset';
@import '../base/core';


.wrapper {
    padding: 0;
    height: 100vh;
    background-color: lighten($picture-bg, 25%);
    
}

.picture {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height:  100vh;
        padding: 15px;     
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;  
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba($picture-bg, 0.9);
        }
    }
}

