@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap&subset=cyrillic-ext');

html, body {
    color: $body-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    background-color: $body-bg;

    min-width: 320px;

    @media (max-width: $screen-sm) {
        font-size: 12px;
    }

    &.no-scroll {
        overflow: hidden;
    }
}

.wrapper {
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
    max-width: rem(1200px);
    margin: 0 auto;
    padding: 0 rem(15px);
}

.main {
    padding-top: rem(200px);
}

a {
    vertical-align: top;
    text-decoration: none;
    color: $link-color;
}
