@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap&subset=cyrillic-ext');

html, body {
    color: $gray-dark;
    font-family: $merriweather;
    font-size: $font-size-main;
    font-weight: $light;
    background-color: $white-body;

    min-width: 320px;

    @media (max-width: $screen-sm) {
        font-size: 12px;
    }
}

.wrapper {
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
    max-width: rem(1200px);
    margin: 0 auto;
    padding: 0 rem(15px);
}

.main {
    padding-top: rem(200px);
}

a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: inherit;
}
